﻿@page
@model WebApplication2.Pages.CuentaModel
@{
    ViewData["Title"] = "Cuenta";
}

<h1>Cuenta</h1>
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<header>
    <div class="container">

        <div class="col-sm-12 ">

            <div class="row">
                <div class="col-sm-6">
                    <H3 class="text-center">Inicia Sesión</H3>
                    <div class="modal-content">
                        <div class="col-12 text-center">
                            <img src="img/logo.png" width=80px height=80px alt="">
                        </div>
                        <form method="post" class="col-12">
                            <div class="form-group text-left ">
                                <label asp-for="cuenta.Email">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="cuenta.Contraseña">Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="*******" required>
                            </div>
                            <div class="form-group text-left">
                                <label class="form-check-label"><input type="checkbox"> Recordar Cuenta </label>
                            </div>
                            <div class="form-group text-right">
                                <a class="form-recovery" href="#"> Olvidaste tu contraseña?</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-warning"><strong>Inicio</strong></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 img-user">
                        <img src="img/Cel.png" alt="" />
                    </div>

                </div>

                <div class="col-sm-6">
                    <H3 class="text-center">Crea una cuenta</H3>
                    <div class="modal-content">
                        <div class="col-12 text-center">
                            <img src="img/logo.png" width="80px" height="80px" alt="">
                        </div>
                        <form method="post" class="col-12">
                            <div class="form-group text-left">
                                <label asp-for="cuenta.Nombre">Nombres</label>
                                <input type="text" class="form-control" name="Nombre" placeholder="Nombres" required>
                                <small id="emailHelp" class="form-text text-muted">Sus datos no seran compartidos con nadie más</small>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="cuenta.ApellidoPaterno"> Apellido Paterno</label>
                                <input type="text" class="form-control" name="Apellido Paterno" placeholder="Apellido Paterno" required>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="cuenta.ApellidoMaterno">Apellido Materno</label>
                                <input type="text" class="form-control" name="Apellidos Materno" placeholder="Apellido Materno" required>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="cuenta.Email"> Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="123asd">
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="cuenta.Contraseña">Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****">
                            </div>

                            <div class="form-group text-left">
                                <label for="exampleInputPassword1">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****">
                            </div>

                            <div class="form-group">
                                <label asp-for="cuenta.Direccion">Dirección</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>

                            <div class="form-group">
                                <label asp-for="cuenta.Ciudad">Ciudad</label>
                                <input type="text" class="form-control" id="inputCity" placeholder="NY">
                            </div>

                            <div class="form-group">
                                <label asp-for="cuenta.Estado">Estado</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Elige...</option>
                                    <option>Aguascalientes</option>
                                    <option>Baja California</option>
                                    <option>Baja California Sur</option>
                                    <option>Campeche</option>
                                    <option>Ciudad de México</option>
                                    <option>Coahuila</option>
                                    <option>Colima</option>
                                    <option>Chiapas</option>
                                    <option>Chihuahua</option>
                                    <option>Durango</option>
                                    <option>Edo. de Mex</option>
                                    <option>Guanajuato</option>
                                    <option>Guerrero</option>
                                    <option>Hidalgo</option>
                                    <option>Jalisco</option>
                                    <option>Michoacán</option>
                                    <option>Morelos</option>
                                    <option>Nayarit</option>
                                    <option>Nuevo León</option>
                                    <option>Oaxaca</option>
                                    <option>Puebla</option>
                                    <option>Queretaro</option>
                                    <option>Quintana Roo</option>
                                    <option>San Luis Potosí</option>
                                    <option>Sinaloa</option>
                                    <option>Sonora</option>
                                    <option>Tabasco</option>
                                    <option>Tamaulipas</option>
                                    <option>Tlaxcala</option>
                                    <option>Veracruz</option>
                                    <option>Yucatán</option>
                                    <option>Zacatecas</option>
                                </select>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="materialInline1">
                                <label class="form-check-label" asp-for="cuenta.ConEmpresa">Empresa</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="materialInline2">
                                <label class="form-check-label" asp-for="cuenta.SinEmpresa">Sin empresa</label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" asp-for="cuenta.TerminosCondiciones">Acepto terminos y condiciones</label>
                            </div>

                            <div class=text-center>
                                <button type="submit" class="btn btn-warning text-center"><strong>Crear</strong></button>
                            </div>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>

